.panel {
  padding: 0px;
}
.row {
  margin-bottom: 10px;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.glyphicon {
  font-size: 1.4em;
  padding-top: 6px;
}
.contact_field {
  padding-left: 0px;
}
sup {
  font-size: 60%;
}
.blog-list-img {
  width: 150px;
}
img.divider {
  width: 50%;
  margin: 10px 25%;
}
.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
}
.project-summary {
  padding: 5px;
}
