main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3,h4,h5,h6,h7,p {
  font-size: 120%;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 135%;
}

h3 {
  font-size: 125%;
}

nav {
  float:right;
  margin-left: 10px;
}

nav h1 {
  font-size: 110%;
}

nav a {
  display: block;
}

header {
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.book_title {
  text-decoration: underline;
}

aside {
  float: right;
  width: 25%;
  margin-right: 10px;
  border-left: 1px solid grey;
  padding-left: 5px;
}

.good_example {
  background-color:rgb(224, 255, 240);
}

.bad_example {
  background-color:rgb(255, 178, 178);
}

.example {
  border-bottom: 1px solid grey;
}

.syntax_example {
  background-color: rgb(255, 255, 235);
}


