body {
  background-color: rgb(0, 55, 79);
  margin: 0px;
}
h1, h2, h3, h4, h5, h6, p, li {
  color:rgb(20, 20, 50);
  font-family:'lato', sans-serif;
  font-size: 1em;
  font-weight:normal;
  margin:0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

header, section, nav, article, .box {
  background-color: rgb(239, 239, 239);
  border: 5px solid yellow;
  border-radius: 10px;
}


h1 {
  font-size: 1.7em;
  color: rgb(239,239,239);
  text-align: left;
  text-shadow:2px 1px rgb(0,30,40);
  font-style: italic;
}

#home h1, #home p{
  margin-left: 20%
}
#home p {
  font-size: 1.3em;
  margin-left: 50%;
  color: rgb(239,239,239);
  text-align: left;
  text-shadow:2px 1px rgb(0,30,40);
  font-style: italic;
  position: relative;
  top: -1em;
}
#home {
  background-color: inherit;
  border: none;
  min-width: 620px;
  margin: 40px 5%;
}
h2 {
  font-size:1.1em;
  margin-bottom: 8px;
}
header {
  margin: 20px 5%;
  display:block;
  padding: 0% 5%;
  width: 80%;
  min-width: 620px;
  height: 100px;
}
header h1 {
  color: rgb(20, 20, 50);
  text-shadow: 2px 1px rgb(260,260,260);
}

.box {
  margin-left:auto;
  margin-right:auto;
  width:40%;
  padding: 10px;
}
.box img{
  border-radius:5px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
#blog-info {
  margin: 20px 0px 0px 20px;
  padding: 10px;
}

nav {
  margin: 20px 5%;
  display:block;
  height: 100px;
  padding: 0% 5%;
  width: 80%;
  min-width: 620px;
}
nav a {
  display: inline-block;
}
.social {
  float: right;
}
nav img {
  width: 100px;
  height: 100px;
}

#projects {
  margin: 5%;
  display:block;
  width: 80%;
  height: 810px;
  padding: 5%;
  min-width: 620px;
}
.project-summary{
  width: 46%;
  float:left;
  margin: 2%;
}
.project-summary h1 {
  color: rgb(20, 20, 50);
  text-shadow: 2px 1px rgb(260,260,260);
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(156, 143, 130);
}
.project-summary img {
  margin-left: 10%;
  width: 200px;
  height: 200px;
}
footer {
  clear: both;
  text-align: center;
  padding: 15px;
}
footer p {
  color:white;
}

footer p a {
  color:inherit;
}

#blog-list {
  margin: 20px 5%;
  display:block;
  padding: 0% 5%;
  width: 80%;
  min-width: 620px;
  clear:both;
}
#blog-list h2 a{
  color:rgb(58, 75, 79);
  font-size:1.1em;
  font-weight: bold;
  margin-bottom: 8px;
}
#blog-list h2 a:hover{
  color:rgb(130, 150, 156);
}
#blog-list h1+p{
  font-style:italic;
}
#blog-list p {
  margin: 0px 0px 20px 10px;
}

#blog-list h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
}

article {
  margin: 20px 5%;
  display:block;
  padding: 15px 5%;
  width: 80%;
  min-width: 620px;
}

article section {
  border:none;
}

article p {
  margin-bottom: 5px;
}
article h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(20, 20, 50);
  text-shadow: 2px 1px rgb(260,260,260);
  text-align: left;
}

article h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

article h2 a {
  color:  rgb(156, 143, 130);
}

article h1+h2+p, article aside p {
  font-size:.9em;
  font-style: italic;
  margin-bottom: 20px;
}
article figure{
  padding: 5px;
  border: 1px solid rgb(79,65,50);
  border-radius:5px;
  width: 510px;
  float: left;
}
article img {
  width:500px;
}

aside {
  float:right;
  width: 40%;
  margin: 0px 0px 15px 15px;
  background-color:rgb(79, 65, 50);
  padding: 5px;
}

aside h2, aside p {
  color: white;
}

span.selection {
  color: red;
  font-size: 1.1em;
  font-weight: bold;
}

footer a {
  color: white;
  margin: 15px;
}